.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffba00;
    margin: 2vh 0;
    min-height: 80vh;
}

.form {
    display: flex;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 8px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email {}

.password {}

button {
    width: 100%;
}

.formItem {
    margin-bottom: 10px;
}

label {
    min-width: 100px;
}