@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

:root {}

html {
    font-size: 62.5%;
}

Body {
    background-color: rgb(28, 40, 59);
    margin: 0 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}